.section.features {
    padding-bottom: 0;
  }
  
  .features__wrapper {
    background-color: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  
  .features__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
  
  .features__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  
  
  
  .features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
  }