.header {
    border-bottom: 1px solid #ececec;
  }
  
  
  .header__conteiner {
    display: flex;
    align-items: center;
  }
  
  
  /* Логотип */
  .logo {
    color: #000000;
    margin-right: 93px;
  }
  
  .header__logo--span {
    color: var(--blue-color);
  }
  
  .header__logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  /* Хедер-контакты  */

  
  .contacts__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
  }
  
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus {
      color: var(--blue-color);
    }
    
    &:hover {
      color: var(--blue-color);
    }
    
  }
  
  .contacts__svg {
    fill: currentColor;
    margin-right: 10px;
  }